[Unit]
Description=ofono-phonesim
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
StartLimitIntervalSec=10
User=pulse
ExecStart=ofono-phonesim -p 12345 /usr/share/phonesim/default.xml

[Install]
WantedBy=multi-user.target
