[Unit]
Description=ofono-modem
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
StartLimitIntervalSec=10
User=pulse
ExecStartPre=/usr/lib/ofono/test/enable-modem /phonesim
ExecStart=/usr/lib/ofono/test/online-modem /phonesim

[Install]
WantedBy=multi-user.target
